/* 폰트 설정 */

@font-face {
    font-family: 'T';
    src: url('font/NotoSansKR-Thin.otf') format('Opentype')
   ;
}

@font-face {
    font-family: 'L';
    src: url('font/NotoSansKR-Light.otf') format('Opentype')
   ;
}

@font-face {
    font-family: 'R';
    src: url('font/NotoSansKR-Regular.otf') format('Opentype')
   ;
}


/* 텍스트 설정 */


body{
    margin: 0;
    padding: 0;
    font-family: 'R';
    line-height: 1.4;
    background-color: #f1f3f9;
    opacity: 0;
    transition: 1s;
}

.title{
    position: relative;
    font-size: 20px;
    margin-top: 30px;
}

.content{
    position: relative;
    font-size: 15px;
    margin-top: 30px;
}


/* Header Style */

.header-container{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 35px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3vh;
    z-index: 3;
}

.logo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    z-index: 3;
    transition: 0.5s;
}

.logo:hover{
    transform: scale(105%);
    transition: 0.5s;
}

.logo img{
    width: 90px;
}

.header-item{
    position: relative;
    display: flex;
    font-size: 15px;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #dedede;
    transition: 0.5s;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 50px;
    opacity: 80%;
}

.header-item:hover{
    background-color: #ffffff;
    transition: 0.5s;
}

.aboutbtn{
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 9%;
    margin-right: 9%;
    text-decoration: none;
    color: #7a7a7a;
    transition: 0.5s;
}

.artworksbtn{
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 9%;
    margin-right: 9%;
    text-decoration: none;
    color: #7a7a7a;
    transition: 0.5s;
}

.dxdawardbtn{
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 9%;
    margin-right: 9%;
    text-decoration: none;
    color: #7a7a7a;
    transition: 0.5s;
}

.aboutbtn:hover{
    text-decoration: none;
    color: rgb(73, 73, 73);
    transition: 0.5s;
    transform: scale(105%);
}

.artworksbtn:hover{
    text-decoration: none;
    color: rgb(73, 73, 73);
    transition: 0.5s;
    transform: scale(105%);
}

.dxdawardbtn:hover{
    color: rgb(73, 73, 73);
    transition: 0.5s;
    transform: scale(105%);
}

/* Footer Style */

.footer-container{
    position: relative;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    height: 200px;
}

.footer-logo{
    position: relative;
    display: flex;
    justify-content: center;
    transform: translate(-50%, 0%);
    left: 50%;
    height: 30px;
    width: 100px;
    margin-bottom: 30px;
}

.footer-item{
    position: relative;
    display: flex;
    font-size: 15px;
    font-family: 'L';
    color: #7a7a7a;
    text-align: center;
    justify-content: center;
}

/* Mainpage Style */

.main-container{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
}

.main-bg{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(75%);
}

.main-a{
    text-decoration: none;
    transition: 0.5s;
    color: white;
    cursor: default;
}

.main-a:hover{
    background-color: #84dcc6;
    color: white;   
    transition: 0.5s;
}

.main-title{
    position: absolute;
    float: left;
    top: 40%;
    left: 5vw;
    transform: translate(0%, -50%);
    z-index: 4;
    color: white;
    font-size: 40px;
    font-family: 'R';
    cursor: default;
}

/* Remote */

.btnoverlay{
    position: absolute;
    float: right;
    top: 50%;
    right: 5vw;
    transform: translate(0%, -50%);
    z-index: 4;
}

.rButton {
    width: 40px;
    height: 40px;
    opacity: 80%;
    text-align: center;
    border-radius: 100%;
    background-color: #dedede;
    margin-bottom: 30%;
    transition: 0.5s;
}

.rButton:hover{
    background-color: #ffffff;
    transition: 0.5s;
}

.rButton img{
    filter: invert(16%) brightness(307%) contrast(213%);
    transition: 0.5s;
}

.rButton img:hover{
    filter: invert(16%) brightness(7%) contrast(173%);
    transition: 0.5s;
}

/* About Style */

.about-container{
    position: relative;
    top: 100px;
    width: 100%;
    height: 200px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

